.popup {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0ms 400ms, opacity 400ms 0ms;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  z-index: 10;
}



