.profile {
  margin: 0 auto;
  padding-top: 42px;
  max-width: 880px;
  width: 100%;
  display: grid;
  grid-template: auto / 1fr;
  align-items: center;
}

@media (min-width: 768px) {
  .profile {
    grid-template: auto / 120px 1fr 150px;
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .profile {
    grid-template: auto / 120px 1fr 150px;
  }
}

@media (min-width: 1280px) {
  .profile {
    grid-template: auto / 120px 1fr 150px;
  }
}
