.cards__like {
  display: block;
  min-width: 22px;
  min-height: 19px;
  background: border-box url(../../../images/icons/heart.svg) center/cover no-repeat;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.cards__like:hover {
  cursor: pointer;
  transition: opacity .2s linear;
  opacity: .5;
}


