.footer {
  flex-shrink: 0;
  padding-top: 48px;
  padding-bottom: 36px;
  width: 100%;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 52px;
    padding-bottom: 46px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

@media (min-width: 1280px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 67px;
  }
}
