.popup__form-input {
  display: block;
  margin: 0 auto;
  padding: 13px 0;
  min-width: 238px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}

@media (min-width: 1024px) {
  .popup__form-input {
    min-width: 358px;
  }
}
