.popup__form-item {
  display: block;
  margin: 0 auto 30px;
  padding: 0 0 13px 0;
  min-width: 238px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--black);
}

.popup__form-item:last-child {
  margin-bottom: 45px;
}

@media (min-width: 1024px) {
  .popup__form-item {
    min-width: 358px;
  }

  .popup__form-item:last-child {
    margin-bottom: 48px;
  }
}
