.popup__button_type_close {
  position: absolute;
  top: -36px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../../../../images/close.svg) center/cover no-repeat;
}

@media (min-width: 1024px) {
  .popup__button_type_close {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
