.cards__like_active {
  display: block;
  min-width: 22px;
  min-height: 19px;
  background: border-box url(../../../../images/black_heart.svg) center/cover no-repeat;
  opacity: 1;
}

.cards__like_active:hover {
  opacity: 1;
}
