.profile__info {
  position: relative;
  padding-top: 26px;
  padding-bottom: 36px;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  grid-template: 26px 14px / min-content 18px;
  gap: 14px 10px;
}

@media (min-width: 768px) {
  .profile__info {
    padding: 0 0 0 30px;
    justify-content: start;
    grid-template: 39px 18px / min-content 24px;
    gap: 16px 25px;
  }
}
