.profile__button {
  background-color: var(--black);
  color: var(--white);
  box-sizing: border-box;
}

.profile__button:hover {
  cursor: pointer;
  transition: opacity .2s linear;
  opacity: .6;
}
